.account_detail {
  background-color: white;
  z-index: 5;
  flex-basis: 30%;
  height: auto;
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
  padding: 1em 3%;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.1rem);
  border-radius: 0.4rem;
}
.detail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.detail_header .close {
  font-size: 2rem;
  color: red;
  transition: transform 0.3s;
  transform: rotate(90deg);
}
.detail_header .close:hover {
  transform: rotate(0deg);
}
.account_detail .account_state {
  border: solid thin red;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.4rem 1.6rem;
  border-radius: 0.4rem;
  min-height: fit-content;
}

.account_detail .active {
  color: var(--grayColor);
}
.account_detail .inactive {
  color: var(--grayColor);
  color: #7316;
}

.account_detail .detail_image {
  height: 9em;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
}
.detail_image img {
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 5%;
  height: 100%;
  aspect-ratio: 1/1;
}
.account_detail .detail_text {
  flex-basis: 70%;
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
}
.detail_text .detail {
  display: flex;
  justify-content: space-between;
  border-bottom: dashed thin rgba(12, 74, 110, 0.8);
  flex-basis: 50%;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--grayColor);
  letter-spacing: 0.04rem;
  text-transform: capitalize;
  word-wrap: break-word;
}
.detail .key {
  overflow: hidden;
}
.detail .value {
  overflow: hidden;
  flex-basis: 40%;
  text-align: left;
}
.account_detail .detail_btns {
  padding: 1rem 5% 0.4rem;
  display: flex;
  gap: 3rem;
  align-items: center;
  overflow: hidden;
}
.detail_btns .btn {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.07em;
  transition: all 0.3s;
  transform-origin: left;
  outline: solid transparent;
}
.detail_btns .btn:hover {
  opacity: 0.85;
}
