* {
  /* overflow-y: auto; */
}
.whole_page {
  /* margin: 1rem 3% 0rem; */
}
.coordinator_main {
}
.whole_page .overview {
  display: flex;
  padding: 1rem 0rem;
  justify-content: flex-start;
  padding-left: 5%;
  gap: 1rem;
  /* display: none; */
}
.overview .summary {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0rem 10rem 20rem rgba(101, 98, 98, 0.131);
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  border-bottom: solid thin var(--whiteDim);
}
.summary .summary_name {
  font-weight: 600;
}
.summary .summary_value {
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--lightDarkBlue);
}
.whole_page .actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem;
}
.actions .btn {
  text-transform: capitalize;
  letter-spacing: 0.08rem;
}
.actions .btn:hover {
  opacity: 0.9;
}
.whole_page .druglist {
  position: relative;
}
.druglist .list_header {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right bottom, #4d1d95f3, #334155);
  color: white;
  /* padding-right: 1.3%; */
}

.list_body {
  height: 62vh !important;
  overflow-y: auto;
  border-bottom: solid var(--grayColor);
}
.registration_list .list_body {
  height: 55vh !important;
  overflow-y: auto;
  border-bottom: solid var(--grayColor);
}
.registration_list .btn_register {
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: auto;
  float: right;
}
.blurred {
  filter: blur(0.1rem);
}
.list_body .lists {
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  box-shadow: 0rem 10rem 20rem rgba(0, 0, 0, 0.074);
}
.list_body .expired {
  background-color: var(--white);
}
.list_body .expired .list {
  opacity: 0.7;
}
.list_body .pending {
  background-color: white;
}
.list_body .pending .list {
  opacity: 1 !important;
}
.list_body .expired .list-btn {
  opacity: 1;
}
.list {
  flex-basis: 12.5% !important;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  border-right: solid thin red;
}
.lists .list {
  text-transform: capitalize;
}

.list_header .list {
  padding: 1rem;
}

.list_header-expired .list {
  padding: 0.2rem !important;
}

/*  defining the size of each colum*/

.list-no {
  flex-basis: 4.5% !important;
}
.list:last-child {
  flex-basis: 16% !important;
}

.list-name {
  flex-basis: 15%;
}
.list-supplier {
  flex-basis: 15%;
}
.list-btn {
  width: fit-content;
}
.noLastCol .list {
  flex-basis: 18% !important;
  padding: 1.2rem 0rem 1.2rem 1.2rem;
}
.noLastCol .list-no {
  flex-basis: 5% !important;
}
.list-btn .btn {
}
.list .list_btn {
  background-color: white;
  border: solid thin var(--golden);
  padding: 0.6rem 2.4rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
}

.list .list_btn-update:hover {
  background-color: var(--grayColor);
  color: var(--white);
}
.list .list_btn-discard:hover {
  color: var(--white);
}

.list .expired_list_btn-discardAll {
  font-size: 1.2rem;
  background: var(--white);
  color: var(--grayColor);
  margin: auto;
}
.list .list_btn-name {
  text-align: center;
  background-color: orange !important;
  color: var(--white);
}
.list .expired_list_btn-discardAll:hover {
  background-color: orange;
  opacity: 1;
  color: var(--white);
}
/*  column definition ends here  */

.list_footer {
  height: 100vh;
}

/*  update drug information  */
.update_druginfo {
  width: 40%;
  position: absolute;
  top: 20% !important;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--white);
  box-shadow: 0rem 10rem 20rem rgba(0, 0, 0, 0.4);
  padding: 2% 7%;
  font-size: 1.4em;
  text-transform: capitalize;
  z-index: 6;
  font-weight: 600;
}
.close_check {
  position: absolute;
  right: 5%;
  top: 5%;
}
.close_check:hover {
  position: absolute;
  right: 5%;
  top: 5%;
  color: red;
}

.info {
  margin-bottom: 1rem;
}
.druglist .drug_name {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.07rem;
  width: fit-content;
  margin-bottom: 2rem;
  padding: 0.2rem;
  border-bottom: solid thin var(--grayColor);
}
.info label {
  display: block;
  margin-bottom: 0.2rem;
  letter-spacing: 0.07rem;
}
.info .info_input {
  width: 100%;
  height: 3.5rem;
  outline: hidden;
  padding-left: 0.8rem;
  font-weight: 600;
  border: solid thin var(--grayColor);
  border-radius: 0.4rem;
}

/*  */

.request_content {
  padding: 1rem;
}
.addToStock {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.request_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 80%;
  background-color: var(--white);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.0153);
  border-radius: 0.4rem;
  padding: 1rem 1rem 2rem 1rem;
  margin: auto;
  position: relative;
}
.addToStock .requested_drugs_card {
  padding: 0.5rem;
  flex-basis: 40%;
  height: 20vh;
  background-color: var(--white);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.03);
}
.addToStock .requested_drugs_card .requested_drug_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.4rem;
  border-bottom: solid thin var(--grayColor);
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, #4d1d95f3, #334155);
  color: var(--white);
}
.requested_drug_header .requested_drug_header-title {
  font-size: 1.2rem;
}
.requested_drug_header p {
}
.requested_drug_header .btn {
  width: fit-content;
  font-size: 1rem;
  background: none;
  padding: 0.4rem 0.8rem;
  border: solid thin var(--white);
  font-weight: bold;
}
.requested_drug_header .btn:hover {
  background-color: var(--white);
  background-color: white;
  color: var(--grayColor);
}
.addToStock .requested_drugs_card-hidden {
  display: none;
}

.requested_drugs {
  height: 15vh;
  overflow-y: scroll;
  padding: 0.4rem;
}
.requested_drugs .requested_drug {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  background-color: var(--whiteBlue);
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 0.2rem 2%;
  border: solid thin var(--golden);
}
.requested_drugs .requested_drug span {
  font-size: 1.4rem;
  font-weight: bold;
}
.addToStock .request_form {
  flex-basis: 60%;
  height: 20vh;
}
.addToStock .request_form-full {
  flex-basis: 80%;
  height: auto;
}
.request_error {
  display: none;
  position: absolute;
  top: 0rem;
  left: 20%;
  width: 60%;
  text-align: center;
  padding: 2%;
  background-color: var(--whiteBlue);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.201);
  color: red;
  z-index: 5;
  font-size: 2rem;
  animation: slidDown 0.3s;
}
.request_error-visible {
  display: block;
}
@keyframes slidDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top left;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.request_info {
  width: 35%;
  display: flex;
  gap: 0.2rem;
  flex-flow: column;
}
.request_info .info_input {
  width: 100%;
  height: 3.5rem;
  outline: hidden;
  padding-left: 0.8rem;
  font-weight: 600;
  border: solid thin var(--grayColor);
  border-radius: 0.5rem;
}
.request_info label {
  font-size: 1.6rem;
  text-transform: capitalize;
  display: block;
  margin-bottom: 0.2rem;
  letter-spacing: 0.07rem;
  color: var(--grayColor);
  font-weight: 600;
}
.request_form .btn {
  width: fit-content;
}
.request_form .btn_request-add {
  margin-top: 2%;
}

.request_results {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  align-items: center;
  margin: 1rem auto 0.5rem;
  padding: 2%;
  width: 80%;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: scroll;
  background-color: var(--white);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.153);
}
.request_results-big {
  min-height: 35vh;
  max-height: 35vh;
}
.request_result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  background-color: var(--whiteBlue);
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 0.2rem 2%;
  border: solid thin var(--golden);
}
.request_result p {
  flex-basis: 30%;
}
.request_result span {
  font-weight: bold;
  color: var(--grayColor);
  padding-right: 1rem;
}
.request_result .request_btn-remove:hover {
  background-color: var(--grayColor);
  color: var(--white);
}
.request_result .request_btn {
  color: red;
  border: solid thin var(--grayColor);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  flex-basis: auto;
}
.btn_request-send {
  float: right;
}

.notification_slide {
  /* position: relative; */
}
.notificaton_content {
  height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
  padding: 2%;
}
.notification {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-left: solid var(--grayColor);
  background-color: white;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.11);
  padding: 01rem 2%;
}
.notification_image {
  flex-basis: 6%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
}
.notification_image img {
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: orem;
  width: 100%;
  height: 100%;
}
.notification_massage {
  flex-basis: 75%;
}
.notification_massage .notification_massage_header {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.notification_massage .notification_massage_header-sub {
  font-size: 60%;
  font-weight: 100;
  letter-spacing: 0.08rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.notification_massage .notification_massage_content {
  font-size: 1.4rem;
  padding-left: 0.3rem;
  letter-spacing: 0.05rem;
}
.notification_massage .notification_massage_content-comment {
  font-size: 1.4rem;
  padding-left: 1rem;
  letter-spacing: 0.05rem;
}
.expired_amount {
  padding: 0rem 0.5rem;
  font-size: 110%;
  font-weight: 600;
}
.btn_notificaion {
  flex-basis: 20%;
}
.btn_notificaion-comment {
  background: none;
  color: var(--grayColor);
  border: solid thin orange;
}
.btn_notificaion-comment:hover {
  background: none;
  border: solid orange;
}
.incoming {
  height: 60vh;
  max-height: 60vh;
  display: flex;
  flex-flow: column;
}

.incoming_header {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.incoming_header .header_decore {
  display: block;
  width: 7%;
  height: 0.15rem;
  background-color: var(--grayColor);
}
.incoming .btn {
  align-self: flex-end;
  margin-right: 2rem;
}
.incoming_content {
  background-color: white;
  flex-basis: 90%;
  padding: 1% 5%;
  background-color: var(--whiteBlue);
}
.incoming_content .drug_ist {
  background-color: red !important;
}

.no_data_header {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
