* {
  /* overflow-y: auto; */
}
.whole_page {
  /* margin: 1rem 3% 0rem; */
}
.coordinator_main {
}
.whole_page .overview {
  display: flex;
  padding: 1rem 0rem;
  justify-content: flex-start;
  padding-left: 5%;
  gap: 1rem;
  /* display: none; */
}
.overview .summary {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 3rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0rem 10rem 20rem rgba(101, 98, 98, 0.131);
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  border-bottom: solid thin var(--whiteDim);
}
.summary .summary_name {
  font-weight: 600;
}
.summary .summary_value {
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--lightDarkBlue);
}
.whole_page .actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem;
}
.actions .btn {
  text-transform: capitalize;
  letter-spacing: 0.08rem;
}
.actions .btn:hover {
  opacity: 0.9;
}
.whole_page .druglist {
  /* padding: auto 2rem; */
}
.druglist .list_header {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right bottom, #4d1d95f3, #334155);
  color: white;
  /* padding-right: 1.3%; */
}

.list_body {
  height: 62vh !important;
  overflow-y: auto;
  border-bottom: solid var(--grayColor);
}
.blurred {
  filter: blur(0.1rem);
}
.list_body .lists {
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  box-shadow: 0rem 10rem 20rem rgba(0, 0, 0, 0.074);
}
.list_body .expired {
  background-color: var(--white);
}
.list_body .expired .list {
  opacity: 0.7;
}
.list_body .expired .list-btn {
  opacity: 1;
}
.list {
  flex-basis: 12.5% !important;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  border-right: solid thin red;
}
.lists .list {
  text-transform: capitalize;
}

.list_header .list {
  padding: 1rem;
}

.list_header-expired .list {
  padding: 0.2rem !important;
}

/*  defining the size of each colum*/

.list-no {
  flex-basis: 4.5% !important;
}
.list:last-child {
  flex-basis: 16% !important;
}

.list-name {
  flex-basis: 15%;
}
.list-supplier {
  flex-basis: 15%;
}
.list-btn {
  width: fit-content;
}
.list-btn .btn {
}
.list .list_btn {
  background-color: white;
  border: solid thin var(--golden);
  padding: 0.6rem 2.4rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
}
.list .list_btn-update:hover {
  background-color: var(--grayColor);
  color: var(--white);
}
.list .list_btn-discard:hover {
  color: var(--white);
}

.list .expired_list_btn-discardAll {
  font-size: 1.2rem;
  background: var(--white);
  color: var(--grayColor);
  margin: auto;
}
.list .expired_list_btn-discardAll:hover {
  background-color: orange;
  opacity: 1;
  color: var(--white);
}
/*  column definition ends here  */

.list_footer {
  height: 100vh;
}

/*  update drug information  */
.update_druginfo {
  width: 40%;
  position: absolute;
  top: 20% !important;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--white);
  box-shadow: 0rem 10rem 20rem rgba(0, 0, 0, 0.4);
  padding: 2% 7%;
  font-size: 1.4em;
  text-transform: capitalize;
  z-index: 6;
  font-weight: 600;
}
.close_check {
  position: absolute;
  right: 5%;
  top: 5%;
}
.close_check:hover {
  position: absolute;
  right: 5%;
  top: 5%;
  color: red;
}

.info {
  margin-bottom: 1rem;
}
.druglist .drug_name {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.07rem;
  width: fit-content;
  margin-bottom: 2rem;
  padding: 0.2rem;
  border-bottom: solid thin var(--grayColor);
}
.info label {
  display: block;
  margin-bottom: 0.2rem;
  letter-spacing: 0.07rem;
}
.info .info_input {
  width: 100%;
  height: 3.5rem;
  outline: hidden;
  padding-left: 0.8rem;
  font-weight: 600;
  border: solid thin var(--grayColor);
  border-radius: 0.4rem;
}

/*  */

.request_content {
  padding: 1rem;
}

.request_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 80%;
  background-color: var(--white);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.153);
  border-radius: 0.4rem;
  padding: 1rem 1rem 2rem 1rem;
  margin: auto;
}
.request_info {
  width: 35%;
  display: flex;
  gap: 0.2rem;
  flex-flow: column;
}
.request_info .info_input {
  width: 100%;
  height: 3.5rem;
  outline: hidden;
  padding-left: 0.8rem;
  font-weight: 600;
  border: solid thin var(--grayColor);
  border-radius: 0.5rem;
}
.request_info label {
  font-size: 1.6rem;
  text-transform: capitalize;
  display: block;
  margin-bottom: 0.2rem;
  letter-spacing: 0.07rem;
  color: var(--grayColor);
  font-weight: 600;
}
.request_form .btn {
  width: fit-content;
}
.request_form .btn_request-add {
  margin-top: 2%;
}
.request_results {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  align-items: center;
  margin: 1rem auto 0.5rem;
  padding: 2%;
  width: 80%;
  min-height: 37vh;
  max-height: 40vh;
  overflow-y: scroll;
  background-color: var(--white);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.153);
}
.request_result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  background-color: var(--whiteBlue);
  font-size: 2rem;
  text-transform: capitalize;
  padding: 0.5rem 5%;
  border: solid thin var(--golden);
}
.request_result p {
  flex-basis: 30%;
}
.request_result span {
  font-weight: bold;
  color: var(--grayColor);
  padding-right: 1rem;
}
.request_result .request_btn {
  color: red;
  border: solid thin var(--grayColor);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  flex-basis: auto;
}
.btn_request-send {
  float: right;
}
