.notification_slide {
  /* position: relative; */
}
.notificaton_content {
  height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
  padding: 2% 2% 5%;
}
.notification {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-left: solid 1.5px var(--grayColor);
  background-color: white;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.11);
  padding: 01rem 2%;
}

.notification_image {
  flex-basis: 6%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
}
.notification_image img {
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: orem;
  width: 100%;
  height: 100%;
}
.notification_massage {
  flex-basis: 75%;
}
.notification_massage .notification_massage_header {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.notification_massage .notification_massage_header-sub {
  font-size: 60%;
  font-weight: 100;
  letter-spacing: 0.08rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.notification_massage .notification_massage_content {
  font-size: 1.4rem;
  padding-left: 0.3rem;
  letter-spacing: 0.05rem;
}

.expired_amount {
  padding: 0rem 0.5rem;
  font-size: 110%;
  font-weight: 600;
}
.btn_notificaion {
  flex-basis: 20%;
}

.incoming {
  height: 60vh;
  max-height: 60vh;
  display: flex;
  flex-flow: column;
}

.incoming_header {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.incoming_header .header_decore {
  display: block;
  width: 7%;
  height: 0.15rem;
  background-color: var(--grayColor);
}
.incoming .btn {
  align-self: flex-end;
  margin-right: 2rem;
}
.incoming_content {
  background-color: white;
  flex-basis: 90%;
  padding: 1% 5%;
  background-color: var(--whiteBlue);
}
.incoming_content .drug_ist {
  background-color: red !important;
}
/*  --------------------  style for comments */
.notification-comment {
  width: 80%;
}
.notification-comment .notification_image {
  flex-basis: 5%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  margin-top: -2%;
}
.notification_massage-comment {
  display: flex;
  flex-flow: column;
  flex-basis: 90%;
  gap: 0.7rem;
}
.notification_massage-comment .notification_massage_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.notification_massage-comment .notification_massage_header .left_message {
  width: 70%;
}
.notification_massage-comment .notification_massage_header .sender_name {
  font-size: 1.8rem;
  color: var(--grayColor);
  color: darkblue;
  text-transform: none;
  padding-right: 0.8rem;
}
.notification_massage-comment .notification_massage_header .comment_content {
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: none;
  padding-right: 0.5rem;
  flex-basis: 70%;
}
.notification_massage-comment .notification_massage_subheader {
  display: flex;
  justify-content: space-between;
}
.comment_date {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
}
.sender_type {
  color: darkblue;
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  letter-spacing: 0.06rem;
}
.btn-remove-comment {
  color: var(--grayColor);
  opacity: 0.5;
  margin-left: 0.4rem;
}
.btn-edit-comment {
  color: var(--grayColor);
  opacity: 0.5;
  margin-left: 0.4rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: darkblue;
  letter-spacing: 0.04rem;
}
.btn-edit-comment:hover {
  color: blue;
}
.btn-remove-comment:hover {
  color: var(--grayColor);
  opacity: 0.5;
  text-decoration: none;
  color: red;
  opacity: 1;
  margin-left: 0.4rem;
}

.notification_massage .notification_massage_content-comment {
  font-size: 1.4rem;
  padding-left: 1rem;
  letter-spacing: 0.05rem;
}
.btn_notificaion-comment {
  background: none;
  color: var(--grayColor);
  border: solid thin orange;
}
.btn_notificaion-comment:hover {
  background: none;
  border: solid orange;
}

.read_link {
  background: none !important;
  text-transform: none;
  border: none;
  color: orange;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
}
.read_link-read {
  color: red;
  opacity: 0.4;
  padding-right: 0.6rem;
}

/* -------------------------- style for comments  */
.selectedButtons {
  margin: 2rem;
  display: flex;
  gap: 1rem;
}
.bnt_selector {
  font-size: 1.6rem;
  text-transform: uppercase;
  /* color: darkblue; */
  transition: all 0.3s;
  padding: 0.3rem;
}
.bnt_selector-active {
  font-weight: 600;
  border-bottom: solid orange;
}
.bnt_selector:hover {
  border-bottom: solid orange;
}
.comment_form {
  background-color: white;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.118);
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  padding: 2% 5%;
  border-radius: 0.4rem;
}
.form_header {
  margin-bottom: 3%;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}
.comment_form .input-comment {
  height: fit-content;
  min-height: 10rem;
  max-height: 15rem;
  overflow-y: auto;
  padding: 0.8rem;
}
.btn-comment {
  margin: 2rem 2rem auto auto;
  display: block;
}
.notificaton_content .no_data_headers {
  width: fit-content;
  margin: auto;
}
