*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --golden: #facc15;
  --golderDark: #eab308;
  --orange: orange;
  --white: white;
  --whiteDim: rgba(255, 255, 255, 0.315);
  --gray: #262626;
  --darkBlue: #0c4a6e;
  --lightDarkBlue: #1515bb;
  --bgWhite: #f0f8ff;
  --whiteBlue: aliceblue;
}
html {
  font-size: 10px;
}
/* ----------------general declarations ------------- */
section {
  height: 100vh;
}

a {
  color: inherit;
}
/* ----------------general declarations ends  ------------- */
